.container
  .row
    .col-md-6.col-md-offset-3
      .card
        .card-height-indicator
        .card-content
          = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { role: "form" }) do |f|
            = devise_bootstrap_error_messages!
            .card-body
              .form-group.label-floating
                = f.label :first_name, class: 'control-label'
                = f.text_field :first_name, autofocus: true, class: "form-control", required: true
              .form-group.label-floating
                = f.label :last_name, class: 'control-label'
                = f.text_field :last_name, class: "form-control", required: true
              .form-group.label-floating
                = f.label :email, class: 'control-label'
                = f.email_field :email, class: "form-control", required: true
              .form-group.label-floating
                = f.label :password, class: 'control-label'
                = f.password_field :password, class: "form-control", required: true, hint: ("#{t('minimum_password', length: @minimum_password_length)}" if @minimum_password_length)
                - if @minimum_password_length
                  %small.form-text.text-muted
                    = t('minimum_password', length: @minimum_password_length)
              .form-group.label-floating
                = f.label :password_confirmation, class: 'control-label'
                = f.password_field :password_confirmation , class: "form-control", required: true
            %footer.card-footer
              = f.submit t('sign_up'), class: "btn btn-primary btn-raised"
