.row
  .col-md-12
    %h3= t('recent_events')
    %hr
    .row.recent-events
      - @recent_events.each do |event|
        .col-md-6.col-sm-12.col-lg-3.col-xs-12.padding-top-bottom
          = render partial: '/events/event_card', locals: { event: event }
    %h3= t('todays_events')
    %hr
    .row.todays-events
      - @todays_events.each do |event|
        .col-md-6.col-sm-12.col-lg-3.col-xs-12.padding-top-bottom
          = render partial: '/events/event_card', locals: { event: event }
    %h3= t('last_events')
    %hr
    .row.last-events
      - @last_events.each do |event|
        .col-md-6.col-sm-12.col-lg-3.col-xs-12.padding-top-bottom
          = render partial: '/events/event_card', locals: { event: event }
