.card
  .mini-event-map.card-img-top{ id: "map-#{rand(100000...100000000)}" }
  .card-block
    %h4.card-title
      = link_to event.title, edit_event_path(event)
    %p.card-text= event.short_description
  %ul.list-group.list-group-flush
    %li.list-group-item Cras justo odio
    %li.list-group-item Dapibus ac facilisis in
    %li.list-group-item Vestibulum at eros
  .card-block
    %a.card-link{:href => "#"} Card link
    %a.card-link{:href => "#"} Another link
    .map-marker-coordinates
      = hidden_field_tag 'lat', event.lat
      = hidden_field_tag 'lng', event.lng
      = hidden_field_tag 'address', event.address
