.card
  .mini-event-map.card-img-top{ id: "map-#{rand(100000...100000000)}" }
  .card-block.main-card-content.top-part
    %h3.card-title
      = event.title
    %p.card-text= event.short_description
  %hr
  .card-block.main-card-content.middle-part
    %ul.list-group.list-group-flush
      %li.list-group-item
        %i.material-icons date_range
        %span.card-list-span= card_event_date(event)
      %li.list-group-item
        %i.material-icons account_balance_wallet
        %span.card-list-span= card_event_price(event)
      %li.list-group-item
        %i.material-icons pin_drop
        %span.card-list-span= event.address
      .map-marker-coordinates
        = hidden_field_tag 'lat', event.lat
        = hidden_field_tag 'lng', event.lng
        = hidden_field_tag 'address', event.address
  %hr
  .card-block.main-card-content.bottom-part
    .btn-group.btn-group-justified.btn-group-raised
      %a.btn{:href => event_path(event)}
        = t('more')
        .ripple-container
      - if user_signed_in? && !current_user.registered_to_event?(event)
        = link_to t('register_to_event'), event_registrations_path(event_registration: { user_id: current_user.id, event_id: event.id }), remote: true, method: :post, class: 'btn btn-warning event-registration-btn registration-available'
      - elsif user_signed_in? && current_user.registered_to_event?(event)
        = link_to t('register_to_event'), 'javascript:void(0)', class: 'btn btn-warning event-registration-btn already-registered', disabled: true
      - else
        = link_to t('register_to_event'), 'javascript:void(0)', class: 'btn btn-warning event-registration-btn not-signed-in', disabled: true
