.container
  .row
    .card.card-block.register-card
      .col-xs-12.col-md-12
        .row
          .col-md-3
            %h2.event-action-title.edit-event= t('edit_event')
          .col-md-offset-6.col-md-3
            %a.btn.btn-raised.btn-default.btn-sm.event-side-btn.pull-right{:href => event_path(@event)}
              = t('event_show')
              .ripple-container
        %hr.smaller-hr

      .col-xs-12.col-md-6.map-height
        #map
      .col-xs-12.col-md-6
        = form_for(@event, url: { action: 'update' }, html: { role: "form" }) do |f|
          = devise_bootstrap_error_messages!
          = render partial: 'form', locals: { event: @event, action: 'edit', f: f }
