.container
  .row
    .card.card-block.register-card
      .col-xs-12.col-md-12
        .page-header
          .btn-toolbar.pull-right
            .btn-group.btn-group-raised
              %a.btn.btn-raised.btn-default.btn-sm.event-side-btn.pull-right{:href => event_path(@event)}
                = t('event_show')
                .ripple-container
          %h2.event-action-title.edit-event= t('edit_event')
      .col-xs-12.col-md-6
        .row
          .col-md-12#map.map-height

          - if @event.banner.present?
            .col-md-12#banner
              = image_tag @event.banner, class: 'img-responsive'

      .col-xs-12.col-md-6
        = form_for(@event, url: { action: 'update' }, html: { role: "form" }) do |f|
          = devise_bootstrap_error_messages!
          = render partial: 'form', locals: { event: @event, action: 'edit', f: f }
