.container
  .row
    .card.card-block.show-card
      .col-xs-12.col-md-12
        .page-header
          .btn-toolbar.pull-right
            .btn-group.btn-group-raised
              - if user_signed_in?
                - if current_user.admin? || @event.mine?(current_user)
                  %a.btn.btn-raised.btn-default.btn-sm.event-side-btn{:href => edit_event_path(@event)}
                    = t('event_edit')
                    .ripple-container
                - if current_user.admin?
                  = link_to t('delete_event'), event_path(@event), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-raised btn-warning btn-sm event-side-btn'
                - if current_user.admin? && !@event.mine?(current_user) && !@event.user.blocked?
                  = link_to t('block_user'), event_block_event_owner_path(@event, block: true), data: { confirm: "Are you sure?" }, method: :patch, class: 'btn btn-raised btn-danger btn-sm event-side-btn'
                - elsif current_user.admin? && !@event.mine?(current_user) && @event.user.blocked?
                  = link_to t('unblock_user'), event_block_event_owner_path(@event, block: false), data: { confirm: "Are you sure?" }, method: :patch, class: 'btn btn-raised btn-success btn-sm event-side-btn'
          %h2.event-action-title.edit-event= t('show_event')
      - if user_signed_in? && current_user.eligible_to_vote?(@event) && !current_user.reviews.reviewed_event?(@event)
        .col-xs-12.col-md-8.col-md-offset-2
          .well
            %h4= t('leave_review_message')
            = form_for [@event, Review.new] do |f|
              .form-group
                = f.text_area :body, placeholder: t('add_comment'), class: "form-control"
              .form-group.rating-form-group
                #star-rating
              = f.submit t('submit'), class: 'btn btn-default btn-raised'
      - if @event.user.blocked?
        .row
          .col-xs-12
            .alert.alert-warning.alert-dismissible.fade.in{:role => "alert"}
              %span.glyphicon.glyphicon-warning-sign{"aria-hidden" => "true"}
              %span.sr-only
              = t('owner_is_blocked')
      .col-xs-12.col-md-6
        .row
          .col-md-12#map.map-height

          - if @event.banner.present?
            .col-md-12#banner
              = image_tag @event.banner, class: 'img-responsive'


      .col-xs-12.col-md-6
        = form_for(@event, url: { action: 'update' }, html: { role: "form" }) do |f|
          = devise_bootstrap_error_messages!
          .coordinates
            = f.hidden_field :lat, data: { geo: 'lat' }
            = f.hidden_field :lng, data: { geo: 'lng' }
          .form-group
            = f.label :title, class: 'col-md-3 control-label'
            .col-md-9= f.text_field :title, autofocus: true, class: "form-control", required: true, disabled: true
          .form-group
            = f.label :address, class: 'col-md-3 control-label'
            .col-md-9= f.text_field :address, class: "form-control", placeholder: '', required: true, data: { geo: 'formatted_address' }, disabled: true
          .form-group
            = f.label :city, class: 'col-md-3 control-label'
            .col-md-9= f.text_field :city, class: "form-control", required: true, data: { geo: 'locality' }, disabled: true
          .form-group
            = f.label :street, class: 'col-md-3 control-label'
            .col-md-9= f.text_field :street, class: "form-control", required: true, data: { geo: 'route' }, disabled: true
          .form-group
            = f.label :street_number, class: 'col-md-3 control-label'
            .col-md-9= f.text_field :street_number, class: "form-control", required: true, data: { geo: 'street_number' }, disabled: true
          .form-group
            = f.label :postal_code, class: 'col-md-3 control-label'
            .col-md-9= f.text_field :postal_code, class: "form-control", required: true, data: { geo: 'postal_code' }, disabled: true

          .form-group
            = f.label :contact_phone, class: 'col-md-3 control-label'
            .col-md-9= f.phone_field :contact_phone, class: "form-control", disabled: true
          .form-group
            = f.label :contact_email, class: 'col-md-3 control-label'
            .col-md-9= f.email_field :contact_email, class: "form-control", disabled: true
          .form-group
            = f.label :start_date, class: 'col-md-3 control-label'
            .col-md-9= f.datetime_local_field :start_date, class: "form-control", required: true, disabled: true
          .form-group
            = f.label :end_date, class: 'col-md-3 control-label'
            .col-md-9= f.datetime_local_field :end_date, class: "form-control", required: true, disabled: true
          .form-group
            = f.label :category, class: 'col-md-3 control-label'
            .col-md-9= f.select :category, Event::CATEGORIES.sort_by { |e| t("categories.singular.#{e}") }.map { |e| [t("categories.singular.#{e}"), e]  }, {}, class: "form-control", required: true, include_blank: false, disabled: true
          .form-group
            = f.label :place, class: 'col-md-3 control-label'
            .col-md-9= f.select :place, Event::PLACES.sort_by { |e| t("places.singular.#{e}") }.map { |e| [t("places.singular.#{e}"), e]  }, {}, class: "form-control", required: true, include_blank: false, disabled: true

          .row
            .col-md-6
              .form-group.zero-margin-top{ style: 'margin-top: 0px;'}
                = f.label :min_participants, class: 'col-md-6 control-label'
                .col-md-6= f.number_field :min_participants, class: "form-control", required: true, in: 0..10000, disabled: true
            .col-md-6
              .form-group.zero-margin-top{ style: 'margin-top: 0px;'}
                = f.label :max_participants, class: 'col-md-6 control-label'
                .col-md-6= f.number_field :max_participants, class: "form-control", required: true, in: 0..10000, disabled: true
          .row
            .col-md-6
              .form-group.zero-margin-top
                .checkbox.text-center
                  = f.label :paid do
                    = f.check_box :paid, disabled: true
                    = t('paid')
            .col-md-6
              .form-group.paid-checkbox-wrapper.zero-margin-top{ style: "#{'display: none;' if !@event.paid }"}
                = f.label :price, class: 'col-md-3 control-label'
                .col-md-9= f.number_field :price, class: "form-control", in: 0.01..10000, step: 0.01, required: @event.paid ? true : false, disabled: true
          .form-group.label-floating
            = f.label :description, class: 'control-label'
            = f.text_area :description, class: "form-control", required: true, disabled: true
      .col-xs-12.col-md-12
        - if !user_signed_in? || !@event.mine?(current_user)
          %hr.smaller-hr
          %h2= t('comments')
          = form_for [@event, Comment.new] do |f|
            .form-group
              = f.text_area :body, placeholder: t('add_comment'), class: "form-control"
            %br/
            = f.submit t('comment'), class: 'btn btn-default btn-raised'
          %hr.smaller-hr
          %ul.comments.col-xs-12.col-md-8.col-md-offset-2
            = render(partial: 'comments/comment', collection: (@event.comments + @event.reviews).sort_by { |e| e.created_at })
        - elsif user_signed_in? && @event.mine?(current_user)
          %hr.smaller-hr
          .row
            .col-md-6.col-xs-12
              %h2= t('comments')
              = form_for [@event, Comment.new] do |f|
                .form-group
                  = f.text_area :body, placeholder: t('add_comment'), class: "form-control"
                %br/
                = f.submit t('comment'), class: 'btn btn-default btn-raised'
              %hr.smaller-hr
              %ul.comments-owner
                = render(partial: 'comments/comment', collection: (@event.comments + @event.reviews).sort_by { |e| e.created_at })
            .col-md-6.col-xs-12
              %h2= t('event_registrations')
              %hr.smaller-hr
              %ul.nav.nav-tabs{:style => "margin-bottom: 15px;"}
                %li.active
                  %a{"aria-expanded" => "true", "data-toggle" => "tab", :href => "#pending"}
                    = t('pending')
                    %span.badge.pending-count= @event.event_registrations.pending.count
                    .ripple-container
                %li
                  %a{"aria-expanded" => "true", "data-toggle" => "tab", :href => "#approved"}
                    = t('approved')
                    %span.badge.approved-count= @event.event_registrations.approved.count
                    .ripple-container
                %li
                  %a{"aria-expanded" => "true", "data-toggle" => "tab", :href => "#denied"}
                    = t('denied')
                    %span.badge.denied-count= @event.event_registrations.denied.count
                    .ripple-container
              #myTabContent.tab-content
                #pending.tab-pane.fade.active.in
                  .list-group
                    - @event.event_registrations.pending.order(created_at: :asc).each do |event_registration|
                      .list-group-item-wrapper
                        .list-group-item
                          .row-action-primary
                            %img.img-circle.avatar{:alt => "user profile image", :src => event_registration.user.avatar.url(:comment_avatar)}
                          .row-content
                            .least-content= time_ago_in_words(event_registration.created_at)
                            %h4.list-group-item-heading
                              = event_registration.user.full_name
                              %span.form-text.text-muted.registration-user-email.hidden{ style: 'font-size:14px;'}= event_registration.user.email
                            %p.list-group-item-text= t('requested_approval')
                            .btn-group.btn-group-justified.btn-group-raised.list-group-item-text
                              = link_to t('deny'), event_event_registration_path(@event, event_registration, event_registration: { confirmed: false }), remote: true, method: :patch, class: 'btn btn-warning btn-xs deny-event-registration'
                              = link_to t('approve'), event_event_registration_path(@event, event_registration, event_registration: { confirmed: true }), remote: true, method: :patch, class: 'btn btn-success btn-xs approve-event-registration'
                        .list-group-separator
                    - if @event.event_registrations.pending.count.zero?
                      %p.text-center= t('no_pending_requests')
                #approved.tab-pane.fade
                  .list-group.approved-list
                    - @event.event_registrations.approved.order(updated_at: :asc).each do |event_registration|
                      .list-group-item-wrapper
                        .list-group-item
                          .row-action-primary
                            %img.img-circle.avatar{:alt => "user profile image", :src => event_registration.user.avatar.url(:comment_avatar)}
                          .row-content
                            .least-content= time_ago_in_words(event_registration.updated_at)
                            %h4.list-group-item-heading
                              = event_registration.user.full_name
                              %span.form-text.text-muted.registration-user-email{ style: 'font-size:14px;'}= event_registration.user.email
                            %p.list-group-item-text.text-success= t('requested_approved')
                        .list-group-separator
                    - if @event.event_registrations.approved.count.zero?
                      %p.text-center= t('no_approved_requests')
                #denied.tab-pane.fade
                  .list-group.denied-list
                    - @event.event_registrations.denied.order(updated_at: :asc).each do |event_registration|
                      .list-group-item-wrapper
                        .list-group-item
                          .row-action-primary
                            %img.img-circle.avatar{:alt => "user profile image", :src => event_registration.user.avatar.url(:comment_avatar)}
                          .row-content
                            .least-content= time_ago_in_words(event_registration.updated_at)
                            %h4.list-group-item-heading= event_registration.user.full_name
                            %p.list-group-item-text.text-warning= t('requested_denied')
                        .list-group-separator
                    - if @event.event_registrations.denied.count.zero?
                      %p.text-center= t('no_denied_requests')
