.container
  .row
    .col-md-4.col-md-offset-4
      .card.login-card
        .card-height-indicator
        .card-content
          = form_for(resource, as: resource_name, url: session_path(resource_name), html: { role: "form", class: '' }) do |f|
            .card-body
              .form-group.label-floating
                = f.label :email, class: 'control-label'
                = f.email_field :email, autofocus: true, class: "form-control"
              .form-group.label-floating
                = f.label :password, class: 'control-label'
                = f.password_field :password, autocomplete: "off", class: "form-control"
              - if devise_mapping.rememberable?
                .form-group
                  .checkbox
                    = f.label :remember_me do
                      = f.check_box :remember_me
                      -# %span.checkbox-material
                      -#   %span.check
                      = t('remember_me')
            %footer.card-footer.text-center
              = f.submit t('sign_in'), class: "btn btn-raised btn-primary btn-lg"
