!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= t('site_title')

    -# = javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{Rails.application.secrets.google_maps_key}"
    %script{:src => "http://maps.googleapis.com/maps/api/js?key=#{Rails.application.secrets.google_maps_key}&libraries=places", :type => "text/javascript"}

    %script{:src => "//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"}
    %script{:src => "//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js", :type => "text/javascript"}
    %link{:href => "//fonts.googleapis.com/css?family=Roboto:300,400,500,700", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "//fonts.googleapis.com/icon?family=Material+Icons", :rel => "stylesheet", :type => "text/css"}/

    = stylesheet_link_tag 'application', params[:controller], media: 'all'

    = csrf_meta_tags


  %body
    = render partial: '/layouts/navbar'
    #wrapper
      #sidebar-wrapper
        %ul.sidebar-nav
          %li.sidebar-brand
            %a.by-category
              = t('by_category')
          - Event.all.group(:category).count.each do |type, count|
            %li
              %a{:href => events_path(type: type, group: 'category')}
                %span= t("categories.plural.#{type}")
                %span.pull-right.side-count= count
          %li.sidebar-brand
            %a.by-place
              = t('by_place')
          - Event.all.group(:place).count.each do |type, count|
            %li
              %a{:href => events_path(type: type, group: 'place')}
                %span= t("places.plural.#{type}")
                %span.pull-right.side-count= count
      #page-content-wrapper
        = render partial: 'shared/flash' unless flash.empty?
        .container-fluid
          = yield

  = javascript_include_tag 'application', params[:controller]
