!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Eventy
    = stylesheet_link_tag    'application', params[:controller], media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', params[:controller], 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .wrapper#wrapper
      .container
        = render partial: '/layouts/navbar'
        = render partial: 'shared/flash' unless flash.empty?
        = yield

    -# - unless user_signed_in?
    -#   = render partial: 'shared/login_modal'
    -#   = render partial: 'shared/register_modal'
