!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= t('site_title')

    -# = javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{Rails.application.secrets.google_maps_key}"
    %script{:src => "http://maps.googleapis.com/maps/api/js?key=#{Rails.application.secrets.google_maps_key}&libraries=places", :type => "text/javascript"}

    %script{:src => "//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"}
    %script{:src => "//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js", :type => "text/javascript"}

    = stylesheet_link_tag    'application', params[:controller], media: 'all', 'data-turbolinks-track' => true

    = csrf_meta_tags


  %body
    = render partial: '/layouts/navbar'
    #wrapper
      #sidebar-wrapper
        %ul.sidebar-nav
          %li.sidebar-brand
            %a{:href => "#"}
              Start Bootstrap
          %li
            %a{:href => "#"} Dashboard
          %li
            %a{:href => "#"} Shortcuts
          %li
            %a{:href => "#"} Overview
          %li
            %a{:href => "#"} Events
          %li
            %a{:href => "#"} About
          %li
            %a{:href => "#"} Services
          %li
            %a{:href => "#"} Contact
      #page-content-wrapper
        .container-fluid
          = render partial: 'shared/flash' unless flash.empty?
          = yield

  = javascript_include_tag 'application', params[:controller], 'data-turbolinks-track' => true
