!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= t('site_title')

    -# = javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{Rails.application.secrets.google_maps_key}"
    %script{:src => "http://maps.googleapis.com/maps/api/js?key=#{Rails.application.secrets.google_maps_key}&libraries=places", :type => "text/javascript"}

    %script{:src => "//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"}
    %script{:src => "//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js", :type => "text/javascript"}
    %link{:href => "//fonts.googleapis.com/css?family=Roboto:300,400,500,700", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "//fonts.googleapis.com/icon?family=Material+Icons", :rel => "stylesheet", :type => "text/css"}/

    = stylesheet_link_tag 'application', params[:controller], media: 'all'

    = csrf_meta_tags


  %body
    = render partial: '/layouts/navbar'
    #wrapper
      #sidebar-wrapper
        %ul.sidebar-nav
          %li.profile
            #profile-image
              - if user_signed_in? && current_user.avatar.present?
                = image_tag current_user.avatar.url(:thumb), class: 'img-responsive img-circle center-block', alt: 'Profile avatar'
              - else
                = image_tag '/images/missing.png', size: '100x100', class: 'img-responsive img-circle center-block', alt: 'Profile avatar'
            #profile-message.text-center
              - if user_signed_in?
                .profile-message-text= current_user.try(:full_name)
              - else
                .profile-message-text= t('guest')
            #profile-actions
              .btn-group-horizontal.text-center
                - if user_signed_in?
                  .btn.btn-link.btn-xs.profile-action-btn
                    %a{:href => edit_user_registration_path }= t('profile')
                  .btn.btn-link.btn-xs.profile-action-btn
                    %a{:href => destroy_user_session_path, data: { method: :delete}, rel: 'nofollow'}= t('logout')
                - else
                  .btn.btn-link.btn-xs.profile-action-btn
                    %a{:href => new_user_session_path }= t('login')
                  .btn.btn-link.btn-xs.profile-action-btn
                    %a{:href => new_user_registration_path }= t('register')
          %hr.profile-spacer
            %li
              %a{:href => new_event_path }
                %i.material-icons.sidebar-icon event
                %span.sidebar-icon-text= t('new_event')
            %li
              %a{:href => events_path }
                %i.material-icons.sidebar-icon youtube_searched_for
                %span.sidebar-icon-text= t('search')
          %hr.profile-spacer
          %li.sidebar-brand
            %a.by-category
              = t('by_category')
          - Event.all.group(:category).count.each do |type, count|
            %li
              %a{:href => events_path(category: type)}
                %span= t("categories.plural.#{type}")
                %span.pull-right.side-count= count
          %li.sidebar-brand
            %a.by-place
              = t('by_place')
          - Event.all.group(:place).count.each do |type, count|
            %li
              %a{:href => events_path(place: type)}
                %span= t("places.plural.#{type}")
                %span.pull-right.side-count= count
      #page-content-wrapper
        = render partial: 'shared/flash' unless flash.empty?
        .container-fluid
          = yield

  = javascript_include_tag 'application', params[:controller]
